<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/head"></div>
<body>
<div th:replace="include/navbar"></div>
<div class="container">

    <!-- Title -->
    <div class="container-fluid">
        <h1 class="bold">Sukses!</h1>
        <h5 th:text="${confirmation}">Teks jika berhasil</h5>
    </div>

    <script th:inline="javascript">
        $(document).ready(function () {
            var modelAttributeValue = [[${mati}]];
            setTimeout(
                function () {
                if(modelAttributeValue != null){
                    window.location.href = "http://localhost:8080/penduduk?nik=" + modelAttributeValue;
                    console.log(modelAttributeValue)
                }
                }, 5000);
        });
    </script>

<div th:replace="include/footer"></div>
</div>
</body>
</html>