<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="include/head"></div>
<body>
<div th:replace="include/navbar"></div>
<div class="container">

    <!-- Title -->
    <div class="container-fluid">
        <h3 th:text="'Lihat Data Keluarga - ' + ${keluarga.nomor_kk}"></h3>
        <a class="btn btn-default" th:href="'/keluarga/ubah/' + ${keluarga.nomor_kk}" th:text="Update"></a>
    </div>

    <hr/>

    <!-- Data -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <h6 class="bold">NKK</h6>
                <h6 class="bold">Alamat</h6>
                <h6 class="bold">RT/RW</h6>
                <h6 class="bold">Kelurahan/Desa</h6>
                <h6 class="bold">Kecamatan</h6>
                <h6 class="bold">Kota</h6>
            </div>

            <div class="col-lg-3">
                <h6 th:text="${keluarga.nomor_kk}">NKK</h6>
                <h6 th:text="${keluarga.alamat}">Alamat</h6>
                <h6 th:text="${keluarga.rt} + '/' + ${keluarga.rw}">RT/RW</h6>
                <h6 th:text="${kelurahan.nama_kelurahan}">Kelurahan/Desa</h6>
                <h6 th:text="${kecamatan.nama_kecamatan}">Kecamatan</h6>
                <h6 th:text="${kota.nama_kota}">Kota</h6>
            </div>
        </div>
    </div>

    <hr/>

    <!-- Table Kartu Keluarga -->
    <div class="container-fluid">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th class="center">No</th>
                <th class="center">Nama Lengkap</th>
                <th class="center">NIK</th>
                <th class="center">Jenis Kelamin</th>
                <th class="center">Tempat Lahir</th>
                <th class="center">Tanggal Lahir</th>
                <th class="center">Agama</th>
                <th class="center">Pekerjaan</th>
                <th class="center">Status Perkawinan</th>
                <th class="center">Status dalam keluarga</th>
                <th class="center">Kewarganegaraan</th>
            </tr>
            </thead>
            <tbody >
            <tr th:each="anggota, iteration : ${anggota}">
                <td th:text="${iteration.count}">Nomor</td>
                <td th:text="${anggota.nama}">Nama Anggota</td>
                <td><a th:href="'/penduduk?nik=' + ${anggota.nik}" th:text="${anggota.nik}">NIK</a></td>
                <td th:text="${anggota.jenis_kelamin}">Jenis Kelamin Anggota</td>
                <td th:text="${anggota.tempat_lahir}">Tempat Lahir Anggota</td>
                <td th:text="${anggota.tanggal_lahir}">Tanggal Lahir Anggota</td>
                <td th:text="${anggota.agama}">Agama Anggota</td>
                <td th:text="${anggota.pekerjaan}">Pekerjaan Anggota</td>
                <td th:text="${anggota.status_perkawinan}">Status Perkawinan Anggota</td>
                <td th:text="${anggota.status_dalam_keluarga}">Status Dalam Keluarga Anggota</td>
                <td th:text="${anggota.is_wni}">Kewarganegaraan Anggota</td>
            </tr>
            </tbody>
        </table>
    </div>

<div th:replace="include/footer"></div>
</div>
</body>
</html>